# dependencies
node_modules/
.pnp
.pnp.*
.yarn/*

# next.js
.next/
out/
build/

# misc
.DS_Store
*.pem
*.log

# env files
.env*
!.env.example
!.env.local.example

# vercel
.vercel

# typescript
*.tsbuildinfo
